MyRssReader.xcodeproj/xcuserdata/gem.xcuserdatad/xcschemes/Mogenerator.xcscheme
MyRssReader.xcodeproj/xcuserdata/gem.xcuserdatad/xcschemes/MyRssReader.xcscheme
MyRssReader.xcodeproj/xcuserdata/gem.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/Pods.xcodeproj/xcuserdata/gem.xcuserdatad/xcschemes/AFDownloadRequestOperation.xcscheme
Pods/Pods.xcodeproj/xcuserdata/gem.xcuserdatad/xcschemes/AFgzipRequestSerializer.xcscheme
Pods/Pods.xcodeproj/xcuserdata/gem.xcuserdatad/xcschemes/AFNetworking.xcscheme
Pods/Pods.xcodeproj/xcuserdata/gem.xcuserdatad/xcschemes/dailymotion-player-objc.xcscheme
Pods/Pods.xcodeproj/xcuserdata/gem.xcuserdatad/xcschemes/Godzippa.xcscheme
Pods/Pods.xcodeproj/xcuserdata/gem.xcuserdatad/xcschemes/MagicalRecord.xcscheme
Pods/Pods.xcodeproj/xcuserdata/gem.xcuserdatad/xcschemes/MBProgressHUD.xcscheme
Pods/Pods.xcodeproj/xcuserdata/gem.xcuserdatad/xcschemes/Pods.xcscheme
Pods/Pods.xcodeproj/xcuserdata/gem.xcuserdatad/xcschemes/PureLayout.xcscheme
Pods/Pods.xcodeproj/xcuserdata/gem.xcuserdatad/xcschemes/SVProgressHUD.xcscheme
Pods/Pods.xcodeproj/xcuserdata/gem.xcuserdatad/xcschemes/UIView+AnimationExtensions.xcscheme
Pods/Pods.xcodeproj/xcuserdata/gem.xcuserdatad/xcschemes/XCDYouTubeKit.xcscheme
Pods/Pods.xcodeproj/xcuserdata/gem.xcuserdatad/xcschemes/xcschememanagement.plist
